@font-face {
  font-family: 'Museo';
  src: url('./fonts/Museo300-Regular.eot');
  src: url('./fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype');
  src: url('./fonts/Museo300-Regular.woff2') format('woff2');
  src: url('./fonts/Museo300-Regular.woff') format('woff');
  src: url('./fonts/Museo300-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Montserrat,Verdana,Geneva,Tahoma,sans-serif;;
}

h1, h2, h3, h4, h5 , h6 {
  font-family: Museo,Georgia,Times New Roman,Times,serif;
  font-style: normal;
  color: #242424;
}

h3, h4 {
  font-weight: 900 !important;
}

p {
  color: rgba(0,0,0,.8);
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 2rem 4rem !important;
}

.lxp-controls {
  margin-top: 10px;
}